In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

In [2]:
data = pd.read_csv('C:/Users/rbt/Python/data.csv')

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data.insert(4, 'fin_res', (data.revenue - data.budget))
data.insert(17, 'num', int(1)) # для 18-21 заданий :) Может, позже придумаю как его решить без этого
data['release_date'] = pd.to_datetime(data['release_date'])
data.insert(14, 'release_month', (data['release_date'].dt.month)) #добавил столбец "месяц" для 27 задания
data.insert(6, 'title_length', (data.original_title.str.len())) #добавил столбец длины названия для 31 задания
def number_of_words(x):
    count = 0
    flag = 0
    for i in range(len(x)):
        if x[i] != ' ' and flag == 0:
            count += 1
            flag = 1
        else:
            if x[i] == ' ':
                flag = 0
    return(count)
data.insert(7, 'title_words', (data.original_title.apply(number_of_words))) #добавил столбец колич-ва слов 
                                                                            #в названии для 32 задания
data.insert(6, 'title_lower', (data.original_title.str.lower())) #добавил столбец с нижним регистром названия для 33 задания
data.head(5)

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
0,tt0369610,32.985763,150000000,1513528810,1363528810,Jurassic World,jurassic world,14,2,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6,5562,6.5,2015,1
1,tt1392190,28.419936,150000000,378436354,228436354,Mad Max: Fury Road,mad max: fury road,18,4,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,5,6185,7.1,2015,1
2,tt2908446,13.112507,110000000,295238201,185238201,Insurgent,insurgent,9,1,Shailene Woodley|Theo James|Kate Winslet|Ansel...,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,3,2480,6.3,2015,1
3,tt2488496,11.173104,200000000,2068178225,1868178225,Star Wars: The Force Awakens,star wars: the force awakens,28,5,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,12,5292,7.5,2015,1
4,tt2820852,9.335014,190000000,1506249360,1316249360,Furious 7,furious 7,9,2,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,4,2947,7.3,2015,1

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data.loc[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
491,tt1032751,0.25054,425000000,11087569,-413912431,The Warrior's Way,the warrior's way,17,3,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,...,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,12,74,6.4,2010,1

In [6]:
answer_ls.append(4)
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")

2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data.loc[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
1158,tt0279111,0.469518,56000000,12923936,-43076064,Gods and Generals,gods and generals,17,3,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,2,23,5.8,2003,1

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data.loc[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
769,tt1449283,1.425344,30000000,14460000,-15540000,Winnie the Pooh,winnie the pooh,15,3,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,...,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,4,174,6.8,2011,1

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.runtime.mean()

109.65343915343915

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.runtime.median()

106.5

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data.loc[(data.revenue - data.budget) == (data.revenue - data.budget).max()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
239,tt0499549,9.432768,237000000,2781505847,2544505847,Avatar,avatar,6,1,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,...,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,12,8458,7.1,2009,1

In [16]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
data.loc[(data.revenue - data.budget) == (data.revenue - data.budget).min()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
491,tt1032751,0.25054,425000000,11087569,-413912431,The Warrior's Way,the warrior's way,17,3,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,...,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,12,74,6.4,2010,1

In [18]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
len(data.loc[(data.revenue - data.budget) > 0])

1478

In [20]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
data_2008 = data.loc[data.release_year == 2008]
data.loc[(data.revenue - data.budget) == (data_2008.revenue - data_2008.budget).max()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
600,tt0468569,8.466668,185000000,1001921825,816921825,The Dark Knight,the dark knight,15,3,Christian Bale|Michael Caine|Heath Ledger|Aaro...,...,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,7,8432,8.1,2008,1

In [22]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
data_12_14 = data.loc[(2012 <= data.release_year) & (data.release_year <= 2014)]
data.loc[(data.revenue - data.budget) == (data_12_14.revenue - data_12_14.budget).min()]

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
1246,tt1210819,1.21451,255000000,89289910,-165710090,The Lone Ranger,the lone ranger,15,3,Johnny Depp|Armie Hammer|William Fichtner|Hele...,...,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,7,1607,6.0,2013,1

In [24]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
a = 'Action'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Adventure'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Drama'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Comedy'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Thriller'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

In [25]:
genres = set(data.genres.str.split('|').sum()) #создаем множество из жанров
ab = pd.Series({x:data[data.genres.str.contains(x)].num.sum()
               for x in genres}).sort_values(ascending = False)
ab

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [26]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [28]:
data_profit = data.loc[data.fin_res > 0]
a = 'Action'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Adventure'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Drama'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Comedy'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Thriller'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

Action = 444
Adventure = 337
Drama = 560
Comedy = 551
Thriller = 446

In [29]:
genres = set(data.genres.str.split('|').sum()) #создаем множество из жанров
aa = pd.Series({x:data_profit[data_profit.genres.str.contains(x)].num.sum()
               for x in genres}).sort_values(ascending = False)
aa

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Foreign              0
dtype: int64

In [30]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
Steven_Spielberg = data[data.director.str.contains('Steven Spielberg', na = False)]
print('Steven Spielberg =', len(Steven_Spielberg))
Ridley_Scott = data[data.director.str.contains('Ridley Scott', na = False)]
print('Ridley Scott =', len(Ridley_Scott))
Steven_Soderbergh = data[data.director.str.contains('Steven Soderbergh', na = False)]
print('Steven Soderbergh =', len(Steven_Soderbergh))
Christopher_Nolan = data[data.director.str.contains('Christopher Nolan', na = False)]
print('Christopher Nolan =', len(Christopher_Nolan))
Clint_Eastwood = data[data.director.str.contains('Clint Eastwood', na = False)]
print('Clint Eastwood =', len(Clint_Eastwood))

Steven Spielberg = 10
Ridley Scott = 12
Steven Soderbergh = 13
Christopher Nolan = 8
Clint Eastwood = 12

In [32]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
print('Steven Spielberg =', len(data_profit[data_profit.director.str.contains('Steven Spielberg', na = False)]))
print('Ridley Scott =', len(data_profit[data_profit.director.str.contains('Ridley Scott', na = False)]))
print('Steven Soderbergh =', len(data_profit[data_profit.director.str.contains('Steven Soderbergh', na = False)]))
print('Christopher Nolan =', len(data_profit[data_profit.director.str.contains('Christopher Nolan', na = False)]))
print('Clint Eastwood =', len(data_profit[data_profit.director.str.contains('Clint Eastwood', na = False)]))

Steven Spielberg = 10
Ridley Scott = 12
Steven Soderbergh = 10
Christopher Nolan = 8
Clint Eastwood = 10

In [34]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
print('Steven_Spielberg = ', Steven_Spielberg.fin_res.sum())
print('Christopher_Nolan = ', Christopher_Nolan.fin_res.sum())
David_Yates = data[data.director.str.contains('David Yates', na = False)]
print('David_Yates = ', David_Yates.fin_res.sum())
Peter_Jackson = data[data.director.str.contains('Peter Jackson', na = False)]
print('Peter_Jackson = ', Peter_Jackson.fin_res.sum())
James_Cameron = data[data.director.str.contains('James Cameron', na = False)]
print('James_Cameron = ', James_Cameron.fin_res.sum())
list = [Steven_Spielberg.fin_res.sum(), Christopher_Nolan.fin_res.sum(), David_Yates.fin_res.sum(),
      Peter_Jackson.fin_res.sum(), James_Cameron.fin_res.sum()]
print('max = ', max(list))

Steven_Spielberg =  2449700791
Christopher_Nolan =  3162548502
David_Yates =  3379295625
Peter_Jackson =  5202593685
James_Cameron =  2548546718
max =  5202593685

In [36]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
a = 'Emma Watson'
def actor(x, y):
    if a in x:
        return y
Emma_Watson = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('Доходность', a, '= ', Emma_Watson.sum())

a = 'Johnny Depp'
def actor(x, y):
    if a in x:
        return y
Johnny_Depp = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('Доходность', a, '= ', Johnny_Depp.sum())

a = 'Michelle Rodriguez'
def actor(x, y):
    if a in x:
        return y
Michelle_Rodriguez = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('Доходность', a, '= ', Michelle_Rodriguez.sum())

a = 'Orlando Bloom'
def actor(x, y):
    if a in x:
        return y
Orlando_Bloom = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('Доходность', a, '= ', Orlando_Bloom.sum())

a = 'Rupert Grint'
def actor(x, y):
    if a in x:
        return y
Rupert_Grint = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('Доходность', a, '= ', Rupert_Grint.sum())

In [37]:
actors = set(data.cast.str.split('|').sum())
b = pd.Series({x:data[data.cast.str.contains(x)].fin_res.sum() for x in actors}).sort_values(ascending = False)
b

Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Length: 3408, dtype: int64

In [38]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
data_12 = data.loc[data.release_year == 2012]
actors_12 = set(data_12.cast.str.split('|').sum())
c = pd.Series({x:data_12[data_12.cast.str.contains(x)].fin_res.sum()
               for x in actors_12}).sort_values(ascending = False)
c

Chris Hemsworth       1542450773
Denis Leary           1319460639
Chris Evans           1299557910
Mark Ruffalo          1299557910
Scarlett Johansson    1299557910
                         ...
Malin Ã…kerman         -43733509
Heidi Hawkins          -51893525
James Kidnie           -51893525
Timothy Spall          -51893525
Kirsten Dunst          -68109207
Length: 466, dtype: int64

In [40]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [41]:
data_bigger_average_budget = data.loc[data.budget > data.budget.mean()] #выделяем фильмы с бюджетом выше среднего
actors_bigger_average_budget = set(data_bigger_average_budget.cast.str.split('|').sum()) #создаем множество из актеров
d = pd.Series({x:data_bigger_average_budget[data_bigger_average_budget.cast.str.contains(x)].num.sum() # magic!🧙‍
               for x in actors_bigger_average_budget}).sort_values(ascending = False)
d

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Samuel L. Jackson     15
                      ..
Elizabeth Mitchell     1
Leonard Nimoy          1
Anna Friel             1
Patricia Clarkson      1
Kim Coates             1
Length: 1508, dtype: int64

In [42]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [43]:
genres = set(data.genres.str.split('|').sum()) #создаем множество из жанров
data_Nicolas_Cage = data[data.cast.str.contains('Nicolas Cage', na = False)] #фильтруем датасет по имени в cast
e = pd.Series({x:data_Nicolas_Cage[data_Nicolas_Cage.genres.str.contains(x)].num.sum() # magic!🧙‍
               for x in genres}).sort_values(ascending = False) 
e

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
Foreign             0
Documentary         0
Western             0
Music               0
dtype: int64

In [44]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
production_companies = set(data.production_companies.str.split('|').sum()) #создаем множество из компаний
f = pd.Series({x:data[data.production_companies.str.contains(x)].num.sum() # magic!🧙‍
               for x in production_companies}).sort_values(ascending = False)
f

C:\Users\rbt\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Universal                                               185
Warner Bros.                                            183
Universal Pictures                                      175
Columbia Pictures                                       163
Paramount Pictures                                      122
                                                       ...
Munich Film Partners & Company (MFP) MI2 Productions      0
World Wrestling Entertainment (WWE)                       0
Palomar Pictures (II)                                     0
British Film Institute (BFI)                              0
Canal+ EspaÃ±a                                            0
Length: 1772, dtype: int64

In [46]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
data_15 = data.loc[data.release_year == 2015]
production_companies_15 = set(data_15.production_companies.str.split('|').sum()) #создаем множество из компаний 2015 г
g = pd.Series({x:data_15[data_15.production_companies.str.contains(x)].num.sum() # magic!🧙‍
               for x in production_companies_15}).sort_values(ascending = False)
g

Warner Bros.                              12
Universal Pictures                        11
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
                                          ..
Anton Capital Entertainment (ACE)          0
Moving Picture Company (MPC)               0
Sony Pictures Entertainment (SPE)          0
Iron Horse Entertainment (II)              0
Universal Pictures International (UPI)     0
Length: 246, dtype: int64

In [48]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [49]:
data_Comedy = data[data.genres.str.contains('Comedy', na = False)] #фильтруем датасет по имени в genres
production_companies_Comedy = set(data_Comedy.production_companies.str.split('|').sum()) #создаем множество из компаний Comedy
h = pd.Series({x:data_Comedy[data.production_companies.str.contains(x)].fin_res.sum() # magic!🧙‍
               for x in production_companies_Comedy}).sort_values(ascending = False)
h

C:\Users\rbt\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

Universal                   9130349034
Universal Pictures          8952422726
Twentieth Century Fox       8239362666
Disney                      8006316328
Walt Disney Pictures        7669710326
                               ...
Warner Bros. Pictures        -54738687
Shangri-La Entertainment     -55170786
Dark Horse Entertainment     -68351500
Road Rebel                   -71331093
Mel's Cite du Cinema         -92896027
Length: 702, dtype: int64

In [50]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [51]:
production_companies_12 = set(data_12.production_companies.str.split('|').sum()) #создаем множество из компаний 2012 year
j = pd.Series({x:data_12[data.production_companies.str.contains(x)].fin_res.sum() # magic!🧙‍
               for x in production_companies_12}).sort_values(ascending = False)
j.head(10)

C:\Users\rbt\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Columbia Pictures       2501406608
Universal Pictures      1981011579
Marvel Studios          1299557910
Warner Bros.            1258020056
Relativity Media        1032593938
New Line Cinema         1028114941
Legendary Pictures       982041287
Summit Entertainment     961582873
Dune Entertainment       892186707
Syncopy                  831041287
dtype: int64

In [52]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [53]:
data[data.production_companies.str.contains('Paramount', na = False)].sort_values(['fin_res']).head(3)

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
926,tt0267626,0.722330,100000000,35168966,-64831034,K-19: The Widowmaker,k-19: the widowmaker,20,3,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,...,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,7,146,6.0,2002,1
1124,tt0300556,1.047214,80000000,19480739,-60519261,Timeline,timeline,8,1,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,2003-11-26,11,176,5.1,2003,1
1723,tt0435705,1.068126,70000000,18211013,-51788987,Next,next,4,1,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,...,Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,2007-04-24,4,499,5.9,2007,1

In [54]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [55]:
data.groupby(['release_year']).sum().sort_values(['fin_res'], ascending = False).head(3)

,popularity,budget,revenue,fin_res,title_length,title_words,runtime,release_month,vote_count,vote_average,num
release_year,,,,,,,,,,,
2015,412.757717,6780630004,25449202382,18668572378,1601,284,13355,842,143377,755.2,118
2014,374.517350,7008050000,23405862953,16397812953,1864,342,13444,854,155491,774.5,121
2012,194.340559,7002000000,23079001687,16077001687,1684,295,12145,724,150430,682.1,111

In [56]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [57]:
data_Warner_Bros = data[data.production_companies.str.contains('Warner', na = False)]
data_Warner_Bros.groupby(['release_year']).sum().sort_values(['fin_res'], ascending = False).head(16)

,popularity,budget,revenue,fin_res,title_length,title_words,runtime,release_month,vote_count,vote_average,num
release_year,,,,,,,,,,,
2014,63.903623,947600000,3243064519,2295464519,176,32,1576,89,24855,88.9,13
2007,22.974477,1005000000,3213217007,2208217007,294,55,1845,122,15875,101.6,16
2008,23.986384,916000000,3050595031,2134595031,149,27,1366,81,17455,72.0,11
2010,26.441327,1034000000,3008712985,1974712985,201,38,1421,92,20286,79.6,13
2011,23.499629,974000000,2845393682,1871393682,220,38,1248,78,15559,68.3,11
2003,17.562360,890000000,2745493377,1855493377,178,30,1085,81,8516,56.7,9
2009,24.294407,915500000,2737954136,1822454136,158,24,1305,78,16473,67.9,11
2013,22.296746,963500000,2599953400,1636453400,114,21,1100,47,19352,59.9,9
2004,21.125522,1100000000,2731933725,1631933725,194,34,1624,91,10964,78.7,13
2005,23.689897,875000000,2470278228,1595278228,221,39,1392,96,13487,76.8,12
2001,21.133885,923000000,2266545668,1343545668,222,35,1571,97,10494,83.6,14
2012,12.593044,611500000,1869520056,1258020056,70,13,579,33,11729,30.0,5
2002,15.070224,680000000,1702709901,1022709901,189,34,1281,69,5851,70.6,12
2015,30.133961,820800003,1691168351,870368348,137,27,1358,82,11574,75.9,12
2006,15.192130,909500000,1526651739,617151739,194,37,1604,120,7573,87.7,14
2000,7.641420,572900000,1025531386,452631386,162,32,1333,81,2163,68.0,12

In [58]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [59]:
data_grouped_by_month = data.groupby(['release_month'])[['num','fin_res']].sum().sort_values(['num'], ascending = False)
display(data_grouped_by_month)

               num      fin_res
release_month
9              227  10878921041
12             191  26563071474
10             186  12994907859
8              161   9640610446
3              156  13720216540
4              149  12876005537
6              147  27551262500
11             146  18654155473
7              142  18307895020
5              140  25039516141
2              135   8854574425
1              110   5396885454

In [60]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [61]:
data_grouped_by_month.num.loc[6] + data_grouped_by_month.num.loc[7] + data_grouped_by_month.num.loc[8]

450

In [62]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [63]:
data_winter = data.loc[(data.release_month == 12) | (data.release_month == 1) | (data.release_month == 2)]
directors = set(data.director.str.split('|').sum())
k = pd.Series({x:data_winter[data_winter.director.str.contains(x)].num.sum() 
               for x in directors}).sort_values(ascending = False)
k

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Adam Shankman        4
                    ..
Andrew Dominik       0
Jim Sonzero          0
Greg Berlanti        0
Michael Davis        0
Neil Burger          0
Length: 998, dtype: int64

In [64]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [65]:
data_grouped_by_month = data.groupby(['release_month'])[['num', 'fin_res']].sum().sort_values(['fin_res'], ascending = False)
display(data_grouped_by_month)

               num      fin_res
release_month
6              147  27551262500
12             191  26563071474
5              140  25039516141
11             146  18654155473
7              142  18307895020
3              156  13720216540
10             186  12994907859
4              149  12876005537
9              227  10878921041
8              161   9640610446
2              135   8854574425
1              110   5396885454

In [66]:
pivot = data.loc[data['release_month'].isin(['6','12', '5'])].pivot_table(values=['fin_res'],
index=['release_year'],
columns=['release_month'],
aggfunc='sum',
margins=True)
display(pivot)

                   fin_res
release_month            5            6           12          All
release_year
2000            1382722190    517315528   1411487999   3311525717
2001             767934975    780612105   1703868124   3252415204
2002            1421928692    747704475   1848074177   4017707344
2003            2000292657    406445507   1862594516   4269332680
2004            2412578839   1294266591   1106961735   4813807165
2005            1575566228   1193230558   1354115156   4122911942
2006             985092012   2098059770    935240354   4018392136
2007            2042169546   2764341802   1831805203   6638316551
2008            1744305931   1943384763   1126935570   4814626264
2009            1435747314   1520284741   3423239738   6379271793
2010            1105092975   2449561498    899583599   4454238072
2011            1917491757   1524706926   1542580698   4984779381
2012            1140614925   2965481705   1105170337   5211266967
2013            1724496337   2411922008   1715008475   5851426820
2014            2279978281   1176264662   1919080286   5375323229
2015            1103503482   3757679861   2777325507   7638508850
All            25039516141  27551262500  26563071474  79153850115

In [67]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [68]:
m = pd.Series({x:data[data.production_companies.str.contains(x)].title_length.mean()
               for x in production_companies}).sort_values(ascending = False)
m

C:\Users\rbt\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions                                83.0
Jim Henson Company, The                                59.0
Dos Corazones                                          47.0
Museum Canada Productions                              46.0
Polsky Films                                           46.0
                                                       ...
Australian Film Finance Corporation (AFFC)              NaN
Danmarks Radio (DR)                                     NaN
Nouvelles Ã‰ditions de Films (NEF)                      NaN
Munich Film Partners & Company (MFP) ROE Production     NaN
Canal+ EspaÃ±a                                          NaN
Length: 1772, dtype: float64

In [69]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [70]:
n = pd.Series({x:data[data.production_companies.str.contains(x)].title_words.mean()
               for x in production_companies}).sort_values(ascending = False)
n

Four By Two Productions                                12.0
Jim Henson Company, The                                10.0
The Saul Zaentz Company                                 9.0
Dos Corazones                                           9.0
Polsky Films                                            9.0
                                                       ...
Australian Film Finance Corporation (AFFC)              NaN
Danmarks Radio (DR)                                     NaN
Nouvelles Ã‰ditions de Films (NEF)                      NaN
Munich Film Partners & Company (MFP) ROE Production     NaN
Canal+ EspaÃ±a                                          NaN
Length: 1772, dtype: float64

In [71]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [72]:
title_words = set(data.title_lower.str.split(' ').sum())
len(title_words) - 1 # минусую пробел

2461

In [73]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [74]:
data.sort_values('vote_average', ascending=False).head(14)

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
600,tt0468569,8.466668,185000000,1001921825,816921825,The Dark Knight,the dark knight,15,3,Christian Bale|Michael Caine|Heath Ledger|Aaro...,...,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,7,8432,8.1,2008,1
125,tt2084970,8.110711,14000000,233555708,219555708,The Imitation Game,the imitation game,18,3,Benedict Cumberbatch|Keira Knightley|Matthew G...,...,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,11,3478,8.0,2014,1
9,tt2096673,6.326804,175000000,853708609,678708609,Inside Out,inside out,10,2,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,...,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,6,3935,8.0,2015,1
118,tt0816692,24.949134,165000000,621752480,456752480,Interstellar,interstellar,12,1,Matthew McConaughey|Jessica Chastain|Anne Hath...,...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,11,6498,8.0,2014,1
34,tt3170832,3.557846,6000000,35401758,29401758,Room,room,4,1,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,...,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,10,1520,8.0,2015,1
1082,tt0167260,7.122455,94000000,1118888979,1024888979,The Lord of the Rings: The Return of the King,the lord of the rings: the return of the king,45,10,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,...,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,12,5636,7.9,2003,1
873,tt0253474,2.364204,35000000,120072577,85072577,The Pianist,the pianist,11,2,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,9,938,7.9,2002,1
1801,tt0209144,3.095625,9000000,39723096,30723096,Memento,memento,7,1,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,...,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,10,2144,7.9,2000,1
1192,tt2024544,3.625529,20000000,187000000,167000000,12 Years a Slave,12 years a slave,16,4,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,...,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,10,2241,7.9,2013,1
128,tt2267998,6.438727,61000000,369330363,308330363,Gone Girl,gone girl,9,2,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,10,3720,7.9,2014,1
138,tt2278388,4.930820,30000000,174600318,144600318,The Grand Budapest Hotel,the grand budapest hotel,24,4,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,...,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,2,2802,7.9,2014,1
119,tt2015381,14.311205,170000000,773312399,603312399,Guardians of the Galaxy,guardians of the galaxy,23,4,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,...,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7,5612,7.9,2014,1
1184,tt0993846,4.877927,100000000,392000694,292000694,The Wolf of Wall Street,the wolf of wall street,23,5,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,...,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,12,4027,7.9,2013,1
370,tt1375666,9.363643,160000000,825500000,665500000,Inception,inception,9,1,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,...,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7,9767,7.9,2010,1

In [75]:
data.vote_average.value_counts(normalize = True) #оценка должна быть не ниже 7.9

6.5    0.055556
5.9    0.053439
6.0    0.052910
6.1    0.052910
6.2    0.051323
6.4    0.050794
5.8    0.050794
6.6    0.046561
5.7    0.044444
6.3    0.044444
5.5    0.037566
5.6    0.037037
5.3    0.033333
6.7    0.032804
5.4    0.030159
6.8    0.029630
7.1    0.028571
6.9    0.028571
5.2    0.026984
7.0    0.026984
7.3    0.022751
7.2    0.021164
5.1    0.020106
5.0    0.012698
7.4    0.012169
4.9    0.011640
7.6    0.011111
4.8    0.009524
7.5    0.008995
7.8    0.007407
7.7    0.006878
4.5    0.005820
4.7    0.004762
7.9    0.004762
4.6    0.004762
4.4    0.004233
4.3    0.002646
3.8    0.002116
8.0    0.002116
4.0    0.002116
4.2    0.002116
3.4    0.001058
3.5    0.001058
3.9    0.001058
3.3    0.001058
4.1    0.000529
8.1    0.000529
Name: vote_average, dtype: float64

In [76]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [77]:
point_1 = data[data['cast'].str.contains('Johnny Depp') & data['cast'].str.contains('Helena Bonham Carter')]
print('Johnny Depp & Helena Bonham Carter', len(point_1))
point_2 = data[data['cast'].str.contains('Hugh Jackman') & data['cast'].str.contains('Ian McKellen')]
print('Hugh Jackman & Ian McKellenlen', len(point_2))
point_3 = data[data['cast'].str.contains('Vin Diesel') & data['cast'].str.contains('Paul Walker')]
print('Vin Diesel & Paul Walker', len(point_3))
point_4 = data[data['cast'].str.contains('Adam Sandler') & data['cast'].str.contains('Kevin James')]
print('Adam Sandler & Kevin James', len(point_4))
point_5 = data[data['cast'].str.contains('Daniel Radcliffe') & data['cast'].str.contains('Rupert Grint')]
print('Daniel Radcliffe & Rupert Grint', len(point_5))

Johnny Depp & Helena Bonham Carter 6
Hugh Jackman & Ian McKellenlen 5
Vin Diesel & Paul Walker 5
Adam Sandler & Kevin James 5
Daniel Radcliffe & Rupert Grint 8

In [78]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [79]:
a_1 = round((len(data_profit[data_profit.director.str.contains('Quentin Tarantino', na = False)]) / len(data[data.director.str.contains('Quentin Tarantino', na = False)])), 2)
a_2 = round((len(data_profit[data_profit.director.str.contains('Steven Soderbergh', na = False)]) / len(data[data.director.str.contains('Steven Soderbergh', na = False)])), 2)
a_3 = round((len(data_profit[data_profit.director.str.contains('Robert Rodriguez', na = False)]) / len(data[data.director.str.contains('Robert Rodriguez', na = False)])), 2)
a_4 = round((len(data_profit[data_profit.director.str.contains('Christopher Nolan', na = False)]) / len(data[data.director.str.contains('Christopher Nolan', na = False)])), 2)
a_5 = round((len(data_profit[data_profit.director.str.contains('Clint Eastwood', na = False)]) / len(data[data.director.str.contains('Clint Eastwood', na = False)])), 2)
print(a_1, a_2, a_3, a_4, a_5, sep = '\n')

0.86
0.77
0.73
1.0
0.83

In [80]:
answer_ls.append(4)

# Submission

In [81]:
len(answer_ls)

36

In [82]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4