In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

In [3]:
data = pd.read_csv('C:/Users/rbt/Python/data.csv')

In [ ]:
len(data)

# –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞

In [4]:
answer_ls = [] # —Å–æ–∑–¥–∞–¥–∏–º —Å–ø–∏—Å–æ–∫ —Å –æ—Ç–≤–µ—Ç–∞–º–∏. —Å—é–¥–∞ –±—É–¥–µ–º –¥–æ–±–∞–≤–ª—è—Ç—å –æ—Ç–≤–µ—Ç—ã –ø–æ –º–µ—Ä–µ –ø—Ä–æ—Ö–æ–∂–¥–µ–Ω–∏—è —Ç–µ—Å—Ç–∞
# —Å—é–¥–∞ –º–æ–∂–µ–º –≤–ø–∏—Å–∞—Ç—å —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ
data.insert(4, 'fin_res', (data.revenue - data.budget))
data.insert(17, 'num', int(1)) # –¥–ª—è 27, 30 –∑–∞–¥–∞–Ω–∏–π :) –ú–æ–∂–µ—Ç, –ø–æ–∑–∂–µ –ø—Ä–∏–¥—É–º–∞—é –∫–∞–∫ –µ–≥–æ —Ä–µ—à–∏—Ç—å –±–µ–∑ —ç—Ç–æ–≥–æ
data['release_date'] = pd.to_datetime(data['release_date'])
data.insert(14, 'release_month', (data['release_date'].dt.month)) #–¥–æ–±–∞–≤–∏–ª —Å—Ç–æ–ª–±–µ—Ü "–º–µ—Å—è—Ü" –¥–ª—è 27 –∑–∞–¥–∞–Ω–∏—è
data.insert(6, 'title_length', (data.original_title.str.len())) #–¥–æ–±–∞–≤–∏–ª —Å—Ç–æ–ª–±–µ—Ü –¥–ª–∏–Ω—ã –Ω–∞–∑–≤–∞–Ω–∏—è –¥–ª—è 31 –∑–∞–¥–∞–Ω–∏—è
def number_of_words(x):
    count = 0
    flag = 0
    for i in range(len(x)):
        if x[i] != ' ' and flag == 0:
            count += 1
            flag = 1
        else:
            if x[i] == ' ':
                flag = 0
    return(count)
data.insert(7, 'title_words', (data.original_title.apply(number_of_words))) #–¥–æ–±–∞–≤–∏–ª —Å—Ç–æ–ª–±–µ—Ü –∫–æ–ª–∏—á-–≤–∞ —Å–ª–æ–≤ 
                                                                            #–≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ –¥–ª—è 32 –∑–∞–¥–∞–Ω–∏—è
data.insert(6, 'title_lower', (data.original_title.str.lower())) #–¥–æ–±–∞–≤–∏–ª —Å—Ç–æ–ª–±–µ—Ü —Å –Ω–∏–∂–Ω–∏–º —Ä–µ–≥–∏—Å—Ç—Ä–æ–º –Ω–∞–∑–≤–∞–Ω–∏—è –¥–ª—è 33 –∑–∞–¥–∞–Ω–∏—è
data.head(5)

,imdb_id,popularity,budget,revenue,fin_res,original_title,title_lower,title_length,title_words,cast,...,overview,runtime,genres,production_companies,release_date,release_month,vote_count,vote_average,release_year,num
0,tt0369610,32.985763,150000000,1513528810,1363528810,Jurassic World,jurassic world,14,2,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6,5562,6.5,2015,1
1,tt1392190,28.419936,150000000,378436354,228436354,Mad Max: Fury Road,mad max: fury road,18,4,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,5,6185,7.1,2015,1
2,tt2908446,13.112507,110000000,295238201,185238201,Insurgent,insurgent,9,1,Shailene Woodley|Theo James|Kate Winslet|Ansel...,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,3,2480,6.3,2015,1
3,tt2488496,11.173104,200000000,2068178225,1868178225,Star Wars: The Force Awakens,star wars: the force awakens,28,5,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,12,5292,7.5,2015,1
4,tt2820852,9.335014,190000000,1506249360,1316249360,Furious 7,furious 7,9,2,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,4,2947,7.3,2015,1

# 1. –£ –∫–∞–∫–æ–≥–æ —Ñ–∏–ª—å–º–∞ –∏–∑ —Å–ø–∏—Å–∫–∞ —Å–∞–º—ã–π –±–æ–ª—å—à–æ–π –±—é–¥–∂–µ—Ç?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [ ]:
data.loc[data.budget == data.budget.max()]

In [ ]:
answer_ls.append(4)
# —Ç—É—Ç –≤–≤–æ–¥–∏–º –≤–∞—à –æ—Ç–≤–µ—Ç –∏ –¥–æ–±–∞–≤–ª–µ–º –≤ –µ–≥–æ —Å–ø–∏—Å–æ–∫ –æ—Ç–≤–µ—Ç–æ–≤ (—Å–µ–π—á–∞—Å –¥–ª—è –ø—Ä–∏–º–µ—Ä–∞ —Å—Ç–æ–∏—Ç "1")

2. –ö–∞–∫–æ–π –∏–∑ —Ñ–∏–ª—å–º–æ–≤ —Å–∞–º—ã–π –¥–ª–∏—Ç–µ–ª—å–Ω—ã–π (–≤ –º–∏–Ω—É—Ç–∞—Ö)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [ ]:
data.loc[data.runtime == data.runtime.max()]

In [ ]:
answer_ls.append(2)

# 3. –ö–∞–∫–æ–π –∏–∑ —Ñ–∏–ª—å–º–æ–≤ —Å–∞–º—ã–π –∫–æ—Ä–æ—Ç–∫–∏–π (–≤ –º–∏–Ω—É—Ç–∞—Ö)
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [ ]:
data.loc[data.runtime == data.runtime.min()]

In [ ]:
answer_ls.append(3)

# 4. –°—Ä–µ–¥–Ω—è—è –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ñ–∏–ª—å–º–∞?

–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. 115
2. 110
3. 105
4. 120
5. 100

In [ ]:
data.runtime.mean()

In [ ]:
answer_ls.append(2)

# 5. –°—Ä–µ–¥–Ω—è—è –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Ñ–∏–ª—å–º–∞ –ø–æ –º–µ–¥–∏–∞–Ω–µ?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. 106
2. 112
3. 101
4. 120
5. 115

In [ ]:
data.runtime.median()

In [ ]:
answer_ls.append(1)

# 6. –ö–∞–∫–æ–π —Å–∞–º—ã–π –ø—Ä–∏–±—ã–ª—å–Ω—ã–π —Ñ–∏–ª—å–º?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [ ]:
data.loc[(data.revenue - data.budget) == (data.revenue - data.budget).max()]

In [ ]:
answer_ls.append(5)

# 7. –ö–∞–∫–æ–π —Ñ–∏–ª—å–º —Å–∞–º—ã–π —É–±—ã—Ç–æ—á–Ω—ã–π?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [ ]:
data.loc[(data.revenue - data.budget) == (data.revenue - data.budget).min()]

In [ ]:
answer_ls.append(2)

# 8. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Ñ–∏–ª—å–º–æ–≤ –≤ –ø—Ä–∏–±—ã–ª–∏?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [ ]:
len(data.loc[(data.revenue - data.budget) > 0])

In [ ]:
answer_ls.append(1)

# 9. –°–∞–º—ã–π –ø—Ä–∏–±—ã–ª—å–Ω—ã–π —Ñ–∏–ª—å–º –≤ 2008 –≥–æ–¥—É?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [ ]:
data_2008 = data.loc[data.release_year == 2008]
data.loc[(data.revenue - data.budget) == (data_2008.revenue - data_2008.budget).max()]

In [ ]:
answer_ls.append(4)

# 10. –°–∞–º—ã–π —É–±—ã—Ç–æ—á–Ω—ã–π —Ñ–∏–ª—å–º –∑–∞ –ø–µ—Ä–∏–æ–¥ —Å 2012 –ø–æ 2014 (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ)?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [ ]:
data_12_14 = data.loc[(2012 <= data.release_year) & (data.release_year <= 2014)]
data.loc[(data.revenue - data.budget) == (data_12_14.revenue - data_12_14.budget).min()]

In [ ]:
answer_ls.append(5)

# 11. –ö–∞–∫–æ–≥–æ –∂–∞–Ω—Ä–∞ —Ñ–∏–ª—å–º–æ–≤ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
a = 'Action'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Adventure'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Drama'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Comedy'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

a = 'Thriller'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data.genres.apply(genres).sum())

In [ ]:
genres = set(data.genres.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∂–∞–Ω—Ä–æ–≤
ab = pd.Series({x:data[data.genres.str.contains(x)].imdb_id.count()
               for x in genres}).sort_values(ascending = False)
ab

In [ ]:
answer_ls.append(3)

# 12. –ö–∞–∫–æ–≥–æ –∂–∞–Ω—Ä–∞ —Å—Ä–µ–¥–∏ –ø—Ä–∏–±—ã–ª—å–Ω—ã—Ö —Ñ–∏–ª—å–º–æ–≤ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
data_profit = data.loc[data.fin_res > 0]
a = 'Action'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Adventure'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Drama'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Comedy'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

a = 'Thriller'
def genres(x):
    if a in x:
        x = 1
    else:
        x = 0
    return x
print(a, '=', data_profit.genres.apply(genres).sum())

In [ ]:
genres = set(data.genres.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∂–∞–Ω—Ä–æ–≤
aa = pd.Series({x:data_profit[data_profit.genres.str.contains(x)].imdb_id.count()
               for x in genres}).sort_values(ascending = False)
aa

In [ ]:
answer_ls.append(1)

# 13. –ö—Ç–æ –∏–∑ —Ä–µ–∂–∏—Å—Å–µ—Ä–æ–≤ —Å–Ω—è–ª –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ —Ñ–∏–ª—å–º–æ–≤?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
Steven_Spielberg = data[data.director.str.contains('Steven Spielberg', na = False)]
print('Steven Spielberg =', len(Steven_Spielberg))
Ridley_Scott = data[data.director.str.contains('Ridley Scott', na = False)]
print('Ridley Scott =', len(Ridley_Scott))
Steven_Soderbergh = data[data.director.str.contains('Steven Soderbergh', na = False)]
print('Steven Soderbergh =', len(Steven_Soderbergh))
Christopher_Nolan = data[data.director.str.contains('Christopher Nolan', na = False)]
print('Christopher Nolan =', len(Christopher_Nolan))
Clint_Eastwood = data[data.director.str.contains('Clint Eastwood', na = False)]
print('Clint Eastwood =', len(Clint_Eastwood))

In [ ]:
directors = set(data.director.str.split('|').sum())
ab = pd.Series({x:data[data.director.str.contains(x)].imdb_id.count() 
               for x in directors}).sort_values(ascending = False)
ab

In [ ]:
answer_ls.append(3)

# 14. –ö—Ç–æ –∏–∑ —Ä–µ–∂–∏—Å—Å–µ—Ä–æ–≤ —Å–Ω—è–ª –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ü—Ä–∏–±—ã–ª—å–Ω—ã—Ö —Ñ–∏–ª—å–º–æ–≤?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
print('Steven Spielberg =', len(data_profit[data_profit.director.str.contains('Steven Spielberg', na = False)]))
print('Ridley Scott =', len(data_profit[data_profit.director.str.contains('Ridley Scott', na = False)]))
print('Steven Soderbergh =', len(data_profit[data_profit.director.str.contains('Steven Soderbergh', na = False)]))
print('Christopher Nolan =', len(data_profit[data_profit.director.str.contains('Christopher Nolan', na = False)]))
print('Clint Eastwood =', len(data_profit[data_profit.director.str.contains('Clint Eastwood', na = False)]))

In [ ]:
data_profit = data.loc[data.fin_res > 0]
directors = set(data.director.str.split('|').sum())
ac = pd.Series({x:data_profit[data_profit.director.str.contains(x)].imdb_id.count() 
               for x in directors}).sort_values(ascending = False)
ac

In [ ]:
answer_ls.append(4)

# 15. –ö—Ç–æ –∏–∑ —Ä–µ–∂–∏—Å—Å–µ—Ä–æ–≤ –ø—Ä–∏–Ω–µ—Å –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø—Ä–∏–±—ã–ª–∏?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [ ]:
print('Steven_Spielberg = ', Steven_Spielberg.fin_res.sum())
print('Christopher_Nolan = ', Christopher_Nolan.fin_res.sum())
David_Yates = data[data.director.str.contains('David Yates', na = False)]
print('David_Yates = ', David_Yates.fin_res.sum())
Peter_Jackson = data[data.director.str.contains('Peter Jackson', na = False)]
print('Peter_Jackson = ', Peter_Jackson.fin_res.sum())
James_Cameron = data[data.director.str.contains('James Cameron', na = False)]
print('James_Cameron = ', James_Cameron.fin_res.sum())
list = [Steven_Spielberg.fin_res.sum(), Christopher_Nolan.fin_res.sum(), David_Yates.fin_res.sum(),
      Peter_Jackson.fin_res.sum(), James_Cameron.fin_res.sum()]
print('max = ', max(list))

In [ ]:
directors = set(data.director.str.split('|').sum())
ad = pd.Series({x:data[data.director.str.contains(x)].fin_res.sum() 
               for x in directors}).sort_values(ascending = False)
ad

In [ ]:
answer_ls.append(5)

# 16. –ö–∞–∫–æ–π –∞–∫—Ç–µ—Ä –ø—Ä–∏–Ω–µ—Å –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø—Ä–∏–±—ã–ª–∏?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
a = 'Emma Watson'
def actor(x, y):
    if a in x:
        return y
Emma_Watson = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('–î–æ—Ö–æ–¥–Ω–æ—Å—Ç—å', a, '= ', Emma_Watson.sum())

a = 'Johnny Depp'
def actor(x, y):
    if a in x:
        return y
Johnny_Depp = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('–î–æ—Ö–æ–¥–Ω–æ—Å—Ç—å', a, '= ', Johnny_Depp.sum())

a = 'Michelle Rodriguez'
def actor(x, y):
    if a in x:
        return y
Michelle_Rodriguez = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('–î–æ—Ö–æ–¥–Ω–æ—Å—Ç—å', a, '= ', Michelle_Rodriguez.sum())

a = 'Orlando Bloom'
def actor(x, y):
    if a in x:
        return y
Orlando_Bloom = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('–î–æ—Ö–æ–¥–Ω–æ—Å—Ç—å', a, '= ', Orlando_Bloom.sum())

a = 'Rupert Grint'
def actor(x, y):
    if a in x:
        return y
Rupert_Grint = data.apply(lambda x: actor(x['cast'], x['fin_res']), axis = 1)
print('–î–æ—Ö–æ–¥–Ω–æ—Å—Ç—å', a, '= ', Rupert_Grint.sum())

In [ ]:
actors = set(data.cast.str.split('|').sum())
b = pd.Series({x:data[data.cast.str.contains(x)].fin_res.sum() for x in actors}).sort_values(ascending = False)
b

In [ ]:
answer_ls.append(1)

# 17. –ö–∞–∫–æ–π –∞–∫—Ç–µ—Ä –ø—Ä–∏–Ω–µ—Å –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –ø—Ä–∏–±—ã–ª–∏ –≤ 2012 –≥–æ–¥—É?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
data_12 = data.loc[data.release_year == 2012]
actors_12 = set(data_12.cast.str.split('|').sum())
c = pd.Series({x:data_12[data_12.cast.str.contains(x)].fin_res.sum()
               for x in actors_12}).sort_values(ascending = False)
c

In [ ]:
answer_ls.append(3)

# 18. –ö–∞–∫–æ–π –∞–∫—Ç–µ—Ä —Å–Ω—è–ª—Å—è –≤ –±–æ–ª—å—à–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –≤—ã—Å–æ–∫–æ–±—é–¥–∂–µ—Ç–Ω—ã—Ö —Ñ–∏–ª—å–º–æ–≤? (–≤ —Ñ–∏–ª—å–º–∞—Ö –≥–¥–µ –±—é–¥–∂–µ—Ç –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –ø–æ –¥–∞–Ω–Ω–æ–π –≤—ã–±–æ—Ä–∫–µ)
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
data_bigger_average_budget = data.loc[data.budget > data.budget.mean()] #–≤—ã–¥–µ–ª—è–µ–º —Ñ–∏–ª—å–º—ã —Å –±—é–¥–∂–µ—Ç–æ–º –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ
actors_bigger_average_budget = set(data_bigger_average_budget.cast.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∞–∫—Ç–µ—Ä–æ–≤
d = pd.Series({x:data_bigger_average_budget[data_bigger_average_budget.cast.str.contains(x)].imdb_id.count() # magic!üßô‚Äç
               for x in actors_bigger_average_budget}).sort_values(ascending = False)
d

In [ ]:
answer_ls.append(3)

# 19. –í —Ñ–∏–ª—å–º–∞—Ö –∫–∞–∫–æ–≥–æ –∂–∞–Ω—Ä–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ —Å–Ω–∏–º–∞–ª—Å—è Nicolas Cage?  
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
genres = set(data.genres.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∂–∞–Ω—Ä–æ–≤
data_Nicolas_Cage = data[data.cast.str.contains('Nicolas Cage', na = False)] #—Ñ–∏–ª—å—Ç—Ä—É–µ–º –¥–∞—Ç–∞—Å–µ—Ç –ø–æ –∏–º–µ–Ω–∏ –≤ cast
e = pd.Series({x:data_Nicolas_Cage[data_Nicolas_Cage.genres.str.contains(x)].imdb_id.count() # magic!üßô‚Äç
               for x in genres}).sort_values(ascending = False) 
e

In [ ]:
answer_ls.append(2)

# 20. –ö–∞–∫–∞—è —Å—Ç—É–¥–∏—è —Å–Ω—è–ª–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ —Ñ–∏–ª—å–º–æ–≤?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
production_companies = set(data.production_companies.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∫–æ–º–ø–∞–Ω–∏–π
f = pd.Series({x:data[data.production_companies.str.contains(x)].imdb_id.count() # magic!üßô‚Äç
               for x in production_companies}).sort_values(ascending = False)
f

In [ ]:
answer_ls.append(1)

# 21. –ö–∞–∫–∞—è —Å—Ç—É–¥–∏—è —Å–Ω—è–ª–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ —Ñ–∏–ª—å–º–æ–≤ –≤ 2015 –≥–æ–¥—É?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
data_15 = data.loc[data.release_year == 2015]
production_companies_15 = set(data_15.production_companies.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∫–æ–º–ø–∞–Ω–∏–π 2015 –≥
g = pd.Series({x:data_15[data_15.production_companies.str.contains(x)].imdb_id.count() # magic!üßô‚Äç
               for x in production_companies_15}).sort_values(ascending = False)
g

In [ ]:
answer_ls.append(4)

# 22. –ö–∞–∫–∞—è —Å—Ç—É–¥–∏—è –∑–∞—Ä–∞–±–æ—Ç–∞–ª–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –¥–µ–Ω–µ–≥ –≤ –∂–∞–Ω—Ä–µ –∫–æ–º–µ–¥–∏–π –∑–∞ –≤—Å–µ –≤—Ä–µ–º—è?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
data_Comedy = data[data.genres.str.contains('Comedy', na = False)] #—Ñ–∏–ª—å—Ç—Ä—É–µ–º –¥–∞—Ç–∞—Å–µ—Ç –ø–æ –∏–º–µ–Ω–∏ –≤ genres
production_companies_Comedy = set(data_Comedy.production_companies.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∫–æ–º–ø–∞–Ω–∏–π Comedy
h = pd.Series({x:data_Comedy[data.production_companies.str.contains(x)].fin_res.sum() # magic!üßô‚Äç
               for x in production_companies_Comedy}).sort_values(ascending = False)
h

In [ ]:
answer_ls.append(2)

# 23. –ö–∞–∫–∞—è —Å—Ç—É–¥–∏—è –∑–∞—Ä–∞–±–æ—Ç–∞–ª–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –¥–µ–Ω–µ–≥ –≤ 2012 –≥–æ–¥—É?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
production_companies_12 = set(data_12.production_companies.str.split('|').sum()) #—Å–æ–∑–¥–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–æ –∏–∑ –∫–æ–º–ø–∞–Ω–∏–π 2012 year
j = pd.Series({x:data_12[data.production_companies.str.contains(x)].fin_res.sum() # magic!üßô‚Äç
               for x in production_companies_12}).sort_values(ascending = False)
j.head(10)

In [ ]:
answer_ls.append(3)

# 24. –°–∞–º—ã–π —É–±—ã—Ç–æ—á–Ω—ã–π —Ñ–∏–ª—å–º –æ—Ç Paramount Pictures
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
data[data.production_companies.str.contains('Paramount', na = False)].sort_values(['fin_res']).head(3)

In [ ]:
answer_ls.append(1)

# 25. –ö–∞–∫–æ–π –°–∞–º—ã–π –ø—Ä–∏–±—ã–ª—å–Ω—ã–π –≥–æ–¥ (–∑–∞—Ä–∞–±–æ—Ç–∞–ª–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ)?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [ ]:
data.groupby(['release_year']).sum().sort_values(['fin_res'], ascending = False).head(3)

In [ ]:
answer_ls.append(5)

# 26. –ö–∞–∫–æ–π –°–∞–º—ã–π –ø—Ä–∏–±—ã–ª—å–Ω—ã–π –≥–æ–¥ –¥–ª—è —Å—Ç—É–¥–∏–∏ Warner Bros?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
data_Warner_Bros = data[data.production_companies.str.contains('Warner', na = False)]
data_Warner_Bros.groupby(['release_year']).sum().sort_values(['fin_res'], ascending = False).head(16)

In [ ]:
answer_ls.append(1)

# 27. –í –∫–∞–∫–æ–º –º–µ—Å—è—Ü–µ –∑–∞ –≤—Å–µ –≥–æ–¥—ã —Å—É–º–º–∞—Ä–Ω–æ –≤—ã—à–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ —Ñ–∏–ª—å–º–æ–≤?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. –Ø–Ω–≤–∞—Ä—å
2. –ò—é–Ω—å
3. –î–µ–∫–∞–±—Ä—å
4. –°–µ–Ω—Ç—è–±—Ä—å
5. –ú–∞–π

In [ ]:
data_grouped_by_month = data.groupby(['release_month'])[['num','fin_res']].sum().sort_values(['num'], ascending = False)
display(data_grouped_by_month)

In [ ]:
answer_ls.append(4)

# 28. –°–∫–æ–ª—å–∫–æ —Å—É–º–º–∞—Ä–Ω–æ –≤—ã—à–ª–æ —Ñ–∏–ª—å–º–æ–≤ –ª–µ—Ç–æ–º? (–∑–∞ –∏—é–Ω—å, –∏—é–ª—å, –∞–≤–≥—É—Å—Ç)
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
data_grouped_by_month.num.loc[6] + data_grouped_by_month.num.loc[7] + data_grouped_by_month.num.loc[8]

In [ ]:
answer_ls.append(2)

# 29. –ö–∞–∫–æ–π —Ä–µ–∂–∏—Å–µ—Ä –≤—ã–ø—É—Å–∫–∞–µ—Ç (—Å—É–º–º–∞—Ä–Ω–æ –ø–æ –≥–æ–¥–∞–º) –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ —Ñ–∏–ª—å–º–æ–≤ –∑–∏–º–æ–π?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–æ–≤:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [66]:
data_winter = data.loc[(data.release_month == 12) | (data.release_month == 1) | (data.release_month == 2)]
directors = set(data.director.str.split('|').sum())
k = pd.Series({x:data_winter[data_winter.director.str.contains(x)].imdb_id.count()
               for x in directors}).sort_values(ascending = False)
k

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
                    ..
Wes Ball             0
Karey Kirkpatrick    0
Saul Dibb            0
Mark Duplass         0
Nicholas Stoller     0
Length: 998, dtype: int64

In [ ]:
answer_ls.append(5)

# 30. –ö–∞–∫–æ–π –º–µ—Å—è—Ü —á–∞—â–µ –≤—Å–µ–≥–æ –ø–æ –≥–æ–¥–∞–º —Å–∞–º—ã–π –ø—Ä–∏–±—ã–ª—å–Ω—ã–π?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. –Ø–Ω–≤–∞—Ä—å
2. –ò—é–Ω—å
3. –î–µ–∫–∞–±—Ä—å
4. –°–µ–Ω—Ç—è–±—Ä—å
5. –ú–∞–π

In [ ]:
data_grouped_by_month = data.groupby(['release_month'])[['num', 'fin_res']].sum().sort_values(['fin_res'], ascending = False)
display(data_grouped_by_month)

In [ ]:
pivot = data.loc[data['release_month'].isin(['6','12', '5'])].pivot_table(values=['fin_res'],
index=['release_year'],
columns=['release_month'],
aggfunc='sum',
margins=True)
display(pivot)

In [ ]:
answer_ls.append(2)

# 31. –ù–∞–∑–≤–∞–Ω–∏—è —Ñ–∏–ª—å–º–æ–≤ –∫–∞–∫–æ–π —Å—Ç—É–¥–∏–∏ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å–∞–º—ã–µ –¥–ª–∏–Ω–Ω—ã–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–∏–º–≤–æ–ª–æ–≤?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
m = pd.Series({x:data[data.production_companies.str.contains(x)].title_length.mean()
               for x in production_companies}).sort_values(ascending = False)
m

In [ ]:
answer_ls.append(5)

# 32. –ù–∞–∑–≤–∞–Ω–∏—è —Ñ–∏–ª—å–º–æ–≤ –∫–∞–∫–æ–π —Å—Ç—É–¥–∏–∏ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å–∞–º—ã–µ –¥–ª–∏–Ω–Ω—ã–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–ª–æ–≤?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
n = pd.Series({x:data[data.production_companies.str.contains(x)].title_words.mean()
               for x in production_companies}).sort_values(ascending = False)
n

In [ ]:
answer_ls.append(5)

# 33. –°–∫–æ–ª—å–∫–æ —Ä–∞–∑–Ω—ã—Ö —Å–ª–æ–≤ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –≤ –Ω–∞–∑–≤–∞–Ω–∏—è—Ö —Ñ–∏–ª—å–º–æ–≤?(–±–µ–∑ —É—á–µ—Ç–∞ —Ä–µ–≥–∏—Å—Ç—Ä–∞)
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
title_words = set(data.title_lower.str.split(' ').sum())
len(title_words) - 1 # –º–∏–Ω—É—Å—É—é –ø—Ä–æ–±–µ–ª

In [ ]:
answer_ls.append(3)

# 34. –ö–∞–∫–∏–µ —Ñ–∏–ª—å–º—ã –≤—Ö–æ–¥—è—Ç –≤ 1 –ø—Ä–æ—Ü–µ–Ω—Ç –ª—É—á—à–∏—Ö –ø–æ —Ä–µ–π—Ç–∏–Ω–≥—É?
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
data.sort_values('vote_average', ascending=False).head(14)

In [ ]:
data.vote_average.value_counts(normalize = True) #–æ—Ü–µ–Ω–∫–∞ –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å –Ω–µ –Ω–∏–∂–µ 7.9

In [ ]:
answer_ls.append(1)

# 35. –ö–∞–∫–∏–µ –∞–∫—Ç–µ—Ä—ã —á–∞—â–µ –≤—Å–µ–≥–æ —Å–Ω–∏–º–∞—é—Ç—Å—è –≤ –æ–¥–Ω–æ–º —Ñ–∏–ª—å–º–µ –≤–º–µ—Å—Ç–µ
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [64]:
point_1 = data[data['cast'].str.contains('Johnny Depp') & data['cast'].str.contains('Helena Bonham Carter')]
print('Johnny Depp & Helena Bonham Carter', len(point_1))
point_2 = data[data['cast'].str.contains('Hugh Jackman') & data['cast'].str.contains('Ian McKellen')]
print('Hugh Jackman & Ian McKellenlen', len(point_2))
point_3 = data[data['cast'].str.contains('Vin Diesel') & data['cast'].str.contains('Paul Walker')]
print('Vin Diesel & Paul Walker', len(point_3))
point_4 = data[data['cast'].str.contains('Adam Sandler') & data['cast'].str.contains('Kevin James')]
print('Adam Sandler & Kevin James', len(point_4))
point_5 = data[data['cast'].str.contains('Daniel Radcliffe') & data['cast'].str.contains('Rupert Grint')]
print('Daniel Radcliffe & Rupert Grint', len(point_5))

Johnny Depp & Helena Bonham Carter 6
Hugh Jackman & Ian McKellenlen 5
Vin Diesel & Paul Walker 5
Adam Sandler & Kevin James 5
Daniel Radcliffe & Rupert Grint 8

In [63]:
data['sep_cast'] = data.cast.str.split('|')
from itertools import combinations
data.sep_cast = data.sep_cast.apply(lambda x: list(combinations(x, 2)))
pairs = sum(data.sep_cast.tolist(), [])
c = Counter(pairs)
c.most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

In [ ]:
answer_ls.append(5)

# 36. –£ –∫–∞–∫–æ–≥–æ –∏–∑ —Ä–µ–∂–∏—Å—Å–µ—Ä–æ–≤ –≤—ã—à–µ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–ø—É—Å—Ç–∏—Ç—å —Ñ–∏–ª—å–º –≤ –ø—Ä–∏–±—ã–ª–∏? (5 –±–∞–ª–ª–æ–≤)101
–í–∞—Ä–∏–∞–Ω—Ç—ã –æ—Ç–≤–µ—Ç–∞:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
a_1 = round((len(data_profit[data_profit.director.str.contains('Quentin Tarantino', na = False)]) / len(data[data.director.str.contains('Quentin Tarantino', na = False)])), 2)
a_2 = round((len(data_profit[data_profit.director.str.contains('Steven Soderbergh', na = False)]) / len(data[data.director.str.contains('Steven Soderbergh', na = False)])), 2)
a_3 = round((len(data_profit[data_profit.director.str.contains('Robert Rodriguez', na = False)]) / len(data[data.director.str.contains('Robert Rodriguez', na = False)])), 2)
a_4 = round((len(data_profit[data_profit.director.str.contains('Christopher Nolan', na = False)]) / len(data[data.director.str.contains('Christopher Nolan', na = False)])), 2)
a_5 = round((len(data_profit[data_profit.director.str.contains('Clint Eastwood', na = False)]) / len(data[data.director.str.contains('Clint Eastwood', na = False)])), 2)
print(a_1, a_2, a_3, a_4, a_5, sep = '\n')

In [84]:
data_profit = data.loc[data.fin_res > 0]
directors = set(data.director.str.split('|').sum())
directors1 = set(data.director.str.split('|').sum())
b = pd.Series({x:data[data.director.str.contains(x)].imdb_id.count()
for x in directors}).sort_values(ascending = False)
d=pd.Series({x:data_profit[data_profit.director.str.contains(x)].imdb_id.count()
for x in directors1}).sort_values(ascending = False)
all_mov=b.to_frame().reset_index()
all_mov.columns=['dirs','ttl_mov']
prof_only=d.to_frame().reset_index()
prof_only.columns=['dirs','profitable_mov']
joined = all_mov.merge(prof_only, on='dirs', how='inner')
joined['success_rate']=round(joined.profitable_mov/joined.ttl_mov,2)*100
data6=data.query('release_year == 2015')
joined.sort_values(['success_rate', 'ttl_mov'], ascending=[False, False]).head(10)

                 dirs  ttl_mov  profitable_mov  success_rate
3        Ridley Scott       12              12         100.0
7    Steven Spielberg       10              10         100.0
8          Tim Burton        9               9         100.0
11        Michael Bay        8               8         100.0
12       Brett Ratner        8               8         100.0
16  Christopher Nolan        8               8         100.0
17      Antoine Fuqua        8               8         100.0
18      Peter Jackson        8               8         100.0
27         Adam McKay        6               6         100.0
29        Zack Snyder        6               6         100.0

In [ ]:
answer_ls.append(4)

# Submission

In [ ]:
len(answer_ls)

In [ ]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])